NodeRED.json
[
    {
        "id": "6c50930ac63c330c",
        "type": "tab",
        "label": "D (Direct Mode)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "19784f628032988e",
        "type": "tab",
        "label": "D0C (Dot Zero CSV Mode)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79d9c96a033c3d45",
        "type": "tab",
        "label": "D0 (Dot Zero Mode)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "45f7913661ead6e8",
        "type": "mqtt-broker",
        "name": "plugfest.west.sd.keio.ac.jp",
        "broker": "plugfest.west.sd.keio.ac.jp",
        "port": "24883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9ac79c2096db5ea0",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Copperplate,Copperplate Gothic Light,fantasy",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Copperplate,Copperplate Gothic Light,fantasy"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "1451.1.6 Simple Visualizer",
            "hideToolbar": "false",
            "allowSwipe": "mouse",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fde6bff06edb2787",
        "type": "mqtt-broker",
        "name": "hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "69053d56.095ee4",
        "type": "mqtt-broker",
        "name": "Raspberry Pi Broker",
        "broker": "10.1.20.227",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "28fc1298.f8e59e",
        "type": "ui_tab",
        "name": "Direct Access",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "86483328.1e604",
        "type": "ui_tab",
        "name": "Request-Response",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "74864aa2.194b24",
        "type": "ui_group",
        "name": "D0C TEMP/HUMID/SERVO",
        "tab": "86483328.1e604",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "646a2c33.077d74",
        "type": "ui_group",
        "name": "D0 TEMP/HUMID/SERVO",
        "tab": "86483328.1e604",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9846458.3ae7f8",
        "type": "ui_tab",
        "name": "TEDS",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "21792d07.e6fa52",
        "type": "ui_group",
        "name": "D0C/D0 TEDS Request-Response",
        "tab": "a9846458.3ae7f8",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a3f9853.90cc98",
        "type": "ui_group",
        "name": "D0",
        "tab": "a9846458.3ae7f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79c8ddf62380d6ad",
        "type": "ui_group",
        "name": "D0C SERVO",
        "tab": "86483328.1e604",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3cf86b88bd70ca08",
        "type": "ui_group",
        "name": "D0 SERVO",
        "tab": "86483328.1e604",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c0b5198aba36e154",
        "type": "mqtt-broker",
        "name": "plugfest.west.sd.keio.ac.jp",
        "broker": "plugfest.west.sd.keio.ac.jp",
        "port": "24883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9cec6b3e57b10d4c",
        "type": "mqtt-broker",
        "name": "plugfest.west.sd.keio.ac.jp",
        "broker": "plugfest.west.sd.keio.ac.jp",
        "port": "24883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f0bc150f8cc49abd",
        "type": "mqtt-broker",
        "name": "hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7fee91ab236e6546",
        "type": "ui_group",
        "name": "TEMP",
        "tab": "28fc1298.f8e59e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a39738c49dedd6c",
        "type": "ui_group",
        "name": "HUMID",
        "tab": "28fc1298.f8e59e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "56c6b3d1ebb8fd05",
        "type": "mqtt in",
        "z": "6c50930ac63c330c",
        "name": "",
        "topic": "_1451.1.6/D/OUC-LEC/2023/west/ncap0/0/TEMP",
        "qos": "0",
        "datatype": "auto",
        "broker": "f0bc150f8cc49abd",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "b102f7f59d5645dc",
                "89e8ac75bad8351e"
            ]
        ]
    },
    {
        "id": "7b706cdb6a3dc4b0",
        "type": "mqtt in",
        "z": "6c50930ac63c330c",
        "name": "",
        "topic": "_1451.1.6/D/OUC-LEC/2023/west/ncap0/0/HUMID",
        "qos": "0",
        "datatype": "auto",
        "broker": "f0bc150f8cc49abd",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "4077689bbdf72fde",
                "3855247e4cc141bf"
            ]
        ]
    },
    {
        "id": "b102f7f59d5645dc",
        "type": "ui_chart",
        "z": "6c50930ac63c330c",
        "name": "",
        "group": "7fee91ab236e6546",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "TEMPs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "89e8ac75bad8351e",
        "type": "ui_gauge",
        "z": "6c50930ac63c330c",
        "name": "",
        "group": "7fee91ab236e6546",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "4077689bbdf72fde",
        "type": "ui_chart",
        "z": "6c50930ac63c330c",
        "name": "",
        "group": "0a39738c49dedd6c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "HUMIDs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3855247e4cc141bf",
        "type": "ui_gauge",
        "z": "6c50930ac63c330c",
        "name": "",
        "group": "0a39738c49dedd6c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMID",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "fbe39f655855ad13",
        "type": "mqtt in",
        "z": "6c50930ac63c330c",
        "name": "",
        "topic": "_1451.1.6/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f0bc150f8cc49abd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "851bb0cb34f5828e"
            ]
        ]
    },
    {
        "id": "851bb0cb34f5828e",
        "type": "debug",
        "z": "6c50930ac63c330c",
        "name": "Monitor All",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "0464e0536d730eb4",
        "type": "inject",
        "z": "19784f628032988e",
        "name": "HUMID-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "d038fd487337c3e2"
            ]
        ]
    },
    {
        "id": "d038fd487337c3e2",
        "type": "ui_button",
        "z": "19784f628032988e",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2,1,1,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0x00000000000000000000000000000001,0,0,0",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "f6ad9b87bbefb41b"
            ]
        ]
    },
    {
        "id": "1967b208cf1c155a",
        "type": "ui_gauge",
        "z": "19784f628032988e",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMID-D0C",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1510,
        "y": 680,
        "wires": []
    },
    {
        "id": "f276215f8f14d6f8",
        "type": "debug",
        "z": "19784f628032988e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 580,
        "wires": []
    },
    {
        "id": "18810e242bdc77ff",
        "type": "mqtt in",
        "z": "19784f628032988e",
        "name": "",
        "topic": "_1451.1.6/C/OUC-LEC/2023/west/application0",
        "qos": "0",
        "datatype": "auto",
        "broker": "f0bc150f8cc49abd",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "5c2e63f74a6f2399",
                "1eb6f442800fb602"
            ]
        ]
    },
    {
        "id": "f722ed0953adbdf9",
        "type": "ui_gauge",
        "z": "19784f628032988e",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMP-D0C",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1510,
        "y": 640,
        "wires": []
    },
    {
        "id": "b661f029ed4d3328",
        "type": "switch",
        "z": "19784f628032988e",
        "name": "",
        "property": "timid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "0x00000000000000000000000000000000",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "0x00000000000000000000000000000001",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 680,
        "wires": [
            [
                "f722ed0953adbdf9",
                "f276215f8f14d6f8"
            ],
            [
                "1967b208cf1c155a",
                "f276215f8f14d6f8"
            ]
        ]
    },
    {
        "id": "67e70982c7af93e3",
        "type": "mqtt out",
        "z": "19784f628032988e",
        "name": "",
        "topic": "_1451.1.6/C/OUC-LEC/2023/west/ncap0",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f0bc150f8cc49abd",
        "x": 1140,
        "y": 180,
        "wires": []
    },
    {
        "id": "feb1c348f7faa5e6",
        "type": "ui_toast",
        "z": "19784f628032988e",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "0509cb13f2dde977",
        "type": "ui_toast",
        "z": "19784f628032988e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "f6ad9b87bbefb41b",
        "type": "function",
        "z": "19784f628032988e",
        "name": "THRU",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 140,
        "wires": [
            [
                "67e70982c7af93e3",
                "feb1c348f7faa5e6",
                "ab153ca190e1bf1b"
            ]
        ]
    },
    {
        "id": "6aad24c209a1e2be",
        "type": "inject",
        "z": "19784f628032988e",
        "name": "HUMID-TEDS-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "cd91f0114cfa01c8"
            ]
        ]
    },
    {
        "id": "626fde3ffc071367",
        "type": "inject",
        "z": "19784f628032988e",
        "name": "TEMP-TEDS-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "86218fa0b5e70fa4"
            ]
        ]
    },
    {
        "id": "cd91f0114cfa01c8",
        "type": "ui_button",
        "z": "19784f628032988e",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-TEDS-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3,2,1,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0x00000000000000000000000000000001,0,0,0",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "f6ad9b87bbefb41b"
            ]
        ]
    },
    {
        "id": "86218fa0b5e70fa4",
        "type": "ui_button",
        "z": "19784f628032988e",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP-TEDS-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3,2,1,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0,0,0",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "f6ad9b87bbefb41b"
            ]
        ]
    },
    {
        "id": "ab153ca190e1bf1b",
        "type": "debug",
        "z": "19784f628032988e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 100,
        "wires": []
    },
    {
        "id": "58c1eeb6a3d39b6d",
        "type": "debug",
        "z": "19784f628032988e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "5c2e63f74a6f2399",
        "type": "function",
        "z": "19784f628032988e",
        "name": "Array2Str",
        "func": "let pa = msg.payload.split(',');\nmsg.typeid = pa.slice(0, 3).join();\nmsg.timid = pa.slice(6, 7);\nmsg.sample = pa.slice(8, 9);\nmsg.teds = pa.slice(8);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 560,
        "wires": [
            [
                "58c1eeb6a3d39b6d",
                "0509cb13f2dde977",
                "10947db1a4a38bb4",
                "1fc6153637a49ec1",
                "bafd8a28434c3203",
                "3df34445a6e16d35",
                "9bf5e2189998a376"
            ]
        ]
    },
    {
        "id": "1fc6153637a49ec1",
        "type": "debug",
        "z": "19784f628032988e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "timid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "10947db1a4a38bb4",
        "type": "debug",
        "z": "19784f628032988e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "typeid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "bafd8a28434c3203",
        "type": "debug",
        "z": "19784f628032988e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "sample",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "3df34445a6e16d35",
        "type": "debug",
        "z": "19784f628032988e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "teds",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "9bf5e2189998a376",
        "type": "switch",
        "z": "19784f628032988e",
        "name": "",
        "property": "typeid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2,1,2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "3,2,2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 780,
        "wires": [
            [
                "2656b5a84e89833e"
            ],
            [
                "1d0117b99241ede6"
            ]
        ]
    },
    {
        "id": "2656b5a84e89833e",
        "type": "template",
        "z": "19784f628032988e",
        "name": "sample",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{sample}}",
        "output": "str",
        "x": 1000,
        "y": 680,
        "wires": [
            [
                "b661f029ed4d3328"
            ]
        ]
    },
    {
        "id": "1d0117b99241ede6",
        "type": "template",
        "z": "19784f628032988e",
        "name": "TEDS",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{teds}}",
        "output": "str",
        "x": 990,
        "y": 800,
        "wires": [
            [
                "447869c0feab91b3"
            ]
        ]
    },
    {
        "id": "447869c0feab91b3",
        "type": "ui_text",
        "z": "19784f628032988e",
        "group": "21792d07.e6fa52",
        "order": 5,
        "width": "12",
        "height": "4",
        "name": "",
        "label": "D0C TEDS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "TEDSTEXT",
        "x": 1160,
        "y": 800,
        "wires": []
    },
    {
        "id": "c97cb965faf9c06a",
        "type": "inject",
        "z": "19784f628032988e",
        "name": "TEMP-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "f2f59f9f73c7195c"
            ]
        ]
    },
    {
        "id": "f2f59f9f73c7195c",
        "type": "ui_button",
        "z": "19784f628032988e",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2,1,1,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0,0,0",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 410,
        "y": 80,
        "wires": [
            [
                "f6ad9b87bbefb41b"
            ]
        ]
    },
    {
        "id": "6461ba7e42a2c163",
        "type": "ui_slider",
        "z": "19784f628032988e",
        "name": "",
        "label": "D0C SERVO",
        "tooltip": "",
        "group": "74864aa2.194b24",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "f050a790b6bd789e"
            ]
        ]
    },
    {
        "id": "f050a790b6bd789e",
        "type": "function",
        "z": "19784f628032988e",
        "name": "SyncWriteCmd",
        "func": "msg.payload = '2,7,1,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0x00000000000000000000000000000010,0,0,'+\n    + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "f6ad9b87bbefb41b"
            ]
        ]
    },
    {
        "id": "1eb6f442800fb602",
        "type": "debug",
        "z": "19784f628032988e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 460,
        "wires": []
    },
    {
        "id": "4ab9265e984e70c6",
        "type": "ui_template",
        "z": "19784f628032988e",
        "group": "21792d07.e6fa52",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .TEDSTEXT {\n            font-size: 12px;\n            height: 12px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1140,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "125aef65ff243ffc",
        "type": "inject",
        "z": "19784f628032988e",
        "name": "SERVO-TEDS-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "3ccaa52e023a19af"
            ]
        ]
    },
    {
        "id": "3ccaa52e023a19af",
        "type": "ui_button",
        "z": "19784f628032988e",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "SERVO-TEDS-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3,2,1,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0x00000000000000000000000000000010,0,0,0",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "f6ad9b87bbefb41b"
            ]
        ]
    },
    {
        "id": "ecac5185669a1d4f",
        "type": "inject",
        "z": "79d9c96a033c3d45",
        "name": "TEMP-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "1a575a968f1a5ca5"
            ]
        ]
    },
    {
        "id": "1a575a968f1a5ca5",
        "type": "ui_button",
        "z": "79d9c96a033c3d45",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "ed904dc53ba7c69a"
            ]
        ]
    },
    {
        "id": "12f52f55f265f1c3",
        "type": "mqtt in",
        "z": "79d9c96a033c3d45",
        "name": "",
        "topic": "_1451.1.6/D0/OUC-LEC/2023/west/application0",
        "qos": "1",
        "datatype": "auto",
        "broker": "f0bc150f8cc49abd",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "0ea925e949e69395",
                "c1b26004874daf96",
                "f2d4d89bef4001d9"
            ]
        ]
    },
    {
        "id": "ed904dc53ba7c69a",
        "type": "function",
        "z": "79d9c96a033c3d45",
        "name": "TEMP D0 BIN",
        "func": "var buf = new Buffer(64); // バイナリの配列をつくる\nbuf[0] = 2;\nbuf[1] = 1;\nbuf[2] = 1;\nbuf[3] = 0;\nbuf[4] = 0;;\nbuf[5] = 0; // UUID appId 0\nbuf[6] = 0; // 1\nbuf[7] = 0; // 2\nbuf[8] = 0; // 3\nbuf[9] = 0; // 4\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[15] = 0; // 10\nbuf[16] = 0; // 11\nbuf[17] = 0; // 12\nbuf[18] = 0; // 13\nbuf[19] = 0; // 14\nbuf[20] = 0; // 15\nbuf[21] = 0; // UUID ncapId 0\nbuf[22] = 0; // 1\nbuf[23] = 0; // 2\nbuf[24] = 0; // 3\nbuf[25] = 0; // 4\nbuf[26] = 0; // 5\nbuf[27] = 0; // 6\nbuf[28] = 0; // 7\nbuf[29] = 0; // 8\nbuf[30] = 0; // 9\nbuf[31] = 0; // 10\nbuf[32] = 0; // 11\nbuf[33] = 0; // 12\nbuf[34] = 0; // 13\nbuf[35] = 0; // 14\nbuf[36] = 0; // 15\nbuf[37] = 0; // UUID timId 0\nbuf[38] = 0; // 1\nbuf[39] = 0; // 2\nbuf[40] = 0; // 3\nbuf[41] = 0; // 4\nbuf[42] = 0; // 5\nbuf[43] = 0; // 6\nbuf[44] = 0; // 7\nbuf[45] = 0; // 8\nbuf[46] = 0; // 9\nbuf[47] = 0; // 10\nbuf[48] = 0; // 11\nbuf[49] = 0; // 12\nbuf[50] = 0; // 13\nbuf[51] = 0; // 14\nbuf[52] = 0; // 15\nbuf[53] = 0; // ChannelId 0 = 1\nbuf[54] = 0; // 3\nbuf[55] = 0; // samplingMode 0=default\nbuf[56] = 0; // TimeDuration 0\nbuf[57] = 0; // 1\nbuf[58] = 0; // 2\nbuf[59] = 0; // 3\nbuf[60] = 0; // 4\nbuf[61] = 0; // 5\nbuf[62] = 0; // 6\nbuf[63] = 0; // 7\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 40,
        "wires": [
            [
                "d5b078f3d5ede44c"
            ]
        ]
    },
    {
        "id": "0ea925e949e69395",
        "type": "function",
        "z": "79d9c96a033c3d45",
        "name": "Array2Str",
        "func": "msg.typeid = msg.payload.slice(0,3).join()\nmsg.timid = parseInt(msg.payload.slice(39,55)[15]);\n//msg.timid = msg.payload.slice(39, 55);\nmsg.sample = '' + msg.payload.slice(57, 65);\nmsg.teds = msg.payload.slice(59)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 560,
        "wires": [
            [
                "be8fb119d7de7428",
                "170852253b72cfb7",
                "f5c8a0149fceaceb",
                "ad3707fef74a7238",
                "24e7d3a07e7a588a",
                "6aa0c146d190cdb2"
            ]
        ]
    },
    {
        "id": "39d9c93fb532e422",
        "type": "ui_gauge",
        "z": "79d9c96a033c3d45",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMP-D0",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1250,
        "y": 660,
        "wires": []
    },
    {
        "id": "c1b26004874daf96",
        "type": "debug",
        "z": "79d9c96a033c3d45",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "88e5bdacefefa05f",
        "type": "inject",
        "z": "79d9c96a033c3d45",
        "name": "HUMID-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "229ab08d73c16ed9"
            ]
        ]
    },
    {
        "id": "229ab08d73c16ed9",
        "type": "ui_button",
        "z": "79d9c96a033c3d45",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "7df52c945cced612"
            ]
        ]
    },
    {
        "id": "7df52c945cced612",
        "type": "function",
        "z": "79d9c96a033c3d45",
        "name": "HUMID D0 BIN",
        "func": "var buf = new Buffer(64); // バイナリの配列をつくる\nbuf[0] = 2;\nbuf[1] = 1;\nbuf[2] = 1;\nbuf[3] = 0;\nbuf[4] = 0;;\nbuf[5] = 0; // UUID appId 0\nbuf[6] = 0; // 1\nbuf[7] = 0; // 2\nbuf[8] = 0; // 3\nbuf[9] = 0; // 4\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[15] = 0; // 10\nbuf[16] = 0; // 11\nbuf[17] = 0; // 12\nbuf[18] = 0; // 13\nbuf[19] = 0; // 14\nbuf[20] = 0; // 15\nbuf[21] = 0; // UUID ncapId 0\nbuf[22] = 0; // 1\nbuf[23] = 0; // 2\nbuf[24] = 0; // 3\nbuf[25] = 0; // 4\nbuf[26] = 0; // 5\nbuf[27] = 0; // 6\nbuf[28] = 0; // 7\nbuf[29] = 0; // 8\nbuf[30] = 0; // 9\nbuf[31] = 0; // 10\nbuf[32] = 0; // 11\nbuf[33] = 0; // 12\nbuf[34] = 0; // 13\nbuf[35] = 0; // 14\nbuf[36] = 0; // 15\nbuf[37] = 0; // UUID timId 0\nbuf[38] = 0; // 1\nbuf[39] = 0; // 2\nbuf[40] = 0; // 3\nbuf[41] = 0; // 4\nbuf[42] = 0; // 5\nbuf[43] = 0; // 6\nbuf[44] = 0; // 7\nbuf[45] = 0; // 8\nbuf[46] = 0; // 9\nbuf[47] = 0; // 10\nbuf[48] = 0; // 11\nbuf[49] = 0; // 12\nbuf[50] = 0; // 13\nbuf[51] = 0; // 14\nbuf[52] = 1; // 15\nbuf[53] = 0; // ChannelId 0 = 1\nbuf[54] = 0; // 3\nbuf[55] = 0; // samplingMode 0=default\nbuf[56] = 0; // TimeDuration 0\nbuf[57] = 0; // 1\nbuf[58] = 0; // 2\nbuf[59] = 0; // 3\nbuf[60] = 0; // 4\nbuf[61] = 0; // 5\nbuf[62] = 0; // 6\nbuf[63] = 0; // 7\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "d5b078f3d5ede44c"
            ]
        ]
    },
    {
        "id": "8225956ef6540a72",
        "type": "mqtt out",
        "z": "79d9c96a033c3d45",
        "name": "",
        "topic": "_1451.1.6/D0/OUC-LEC/2023/west/ncap0",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f0bc150f8cc49abd",
        "x": 1220,
        "y": 120,
        "wires": []
    },
    {
        "id": "680ba5f51fab73f1",
        "type": "ui_toast",
        "z": "79d9c96a033c3d45",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1300,
        "y": 80,
        "wires": []
    },
    {
        "id": "d5b078f3d5ede44c",
        "type": "function",
        "z": "79d9c96a033c3d45",
        "name": "THRU",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 120,
        "wires": [
            [
                "8225956ef6540a72",
                "3ac81bd29f1f688d",
                "1981f2b484413289"
            ]
        ]
    },
    {
        "id": "b58142dc7bbe6296",
        "type": "ui_toast",
        "z": "79d9c96a033c3d45",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "d065e2af679caf59",
        "type": "switch",
        "z": "79d9c96a033c3d45",
        "name": "",
        "property": "timid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1060,
        "y": 680,
        "wires": [
            [
                "39d9c93fb532e422"
            ],
            [
                "bb39c5ebfe893991"
            ]
        ]
    },
    {
        "id": "3ac81bd29f1f688d",
        "type": "debug",
        "z": "79d9c96a033c3d45",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 40,
        "wires": []
    },
    {
        "id": "bb39c5ebfe893991",
        "type": "ui_gauge",
        "z": "79d9c96a033c3d45",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMID-D0",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1260,
        "y": 700,
        "wires": []
    },
    {
        "id": "12419d385135c6d7",
        "type": "inject",
        "z": "79d9c96a033c3d45",
        "name": "TEMP-TEDS-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "a47e95d0be0b59fd"
            ]
        ]
    },
    {
        "id": "a47e95d0be0b59fd",
        "type": "ui_button",
        "z": "79d9c96a033c3d45",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP-TEDS-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "f0e0632a2ea4b96c"
            ]
        ]
    },
    {
        "id": "7277e6e198be1492",
        "type": "inject",
        "z": "79d9c96a033c3d45",
        "name": "HUMID-TEDS-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "38b23a99895a3f3b"
            ]
        ]
    },
    {
        "id": "38b23a99895a3f3b",
        "type": "ui_button",
        "z": "79d9c96a033c3d45",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-TEDS-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "14526c748aa11158"
            ]
        ]
    },
    {
        "id": "f0e0632a2ea4b96c",
        "type": "function",
        "z": "79d9c96a033c3d45",
        "name": "TEMP TEDS D0 BIN",
        "func": "var buf = new Buffer(71); // バイナリの配列をつくる\nbuf[0] = 3;\nbuf[1] = 2;\nbuf[2] = 1;\nbuf[3] = 0;\nbuf[4] = 0;;\nbuf[5] = 0; // UUID appId 0\nbuf[6] = 0; // 1\nbuf[7] = 0; // 2\nbuf[8] = 0; // 3\nbuf[9] = 0; // 4\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[15] = 0; // 10\nbuf[16] = 0; // 11\nbuf[17] = 0; // 12\nbuf[18] = 0; // 13\nbuf[19] = 0; // 14\nbuf[20] = 0; // 15\nbuf[21] = 0; // UUID ncapId 0\nbuf[22] = 0; // 1\nbuf[23] = 0; // 2\nbuf[24] = 0; // 3\nbuf[25] = 0; // 4\nbuf[26] = 0; // 5\nbuf[27] = 0; // 6\nbuf[28] = 0; // 7\nbuf[29] = 0; // 8\nbuf[30] = 0; // 9\nbuf[31] = 0; // 10\nbuf[32] = 0; // 11\nbuf[33] = 0; // 12\nbuf[34] = 0; // 13\nbuf[35] = 0; // 14\nbuf[36] = 0; // 15\nbuf[37] = 0; // UUID timId 0\nbuf[38] = 0; // 1\nbuf[39] = 0; // 2\nbuf[40] = 0; // 3\nbuf[41] = 0; // 4\nbuf[42] = 0; // 5\nbuf[43] = 0; // 6\nbuf[44] = 0; // 7\nbuf[45] = 0; // 8\nbuf[46] = 0; // 9\nbuf[47] = 0; // 10\nbuf[48] = 0; // 11\nbuf[49] = 0; // 12\nbuf[50] = 0; // 13\nbuf[51] = 0; // 14\nbuf[52] = 0; // 15\nbuf[53] = 0; // ChannelId 0 = 1\nbuf[54] = 0; // 3\nbuf[55] = 0; // 0 tedsAccessCode\nbuf[56] = 0; // 1\nbuf[57] = 0; // 2\nbuf[58] = 0; // 3\nbuf[59] = 0; // 0 tedsOffset\nbuf[60] = 0; // 1\nbuf[61] = 0; // 2\nbuf[62] = 0; // 3\nbuf[63] = 0; // 0 timeout\nbuf[64] = 0; // 1\nbuf[65] = 0; // 2\nbuf[66] = 0; // 3\nbuf[67] = 0; // 4\nbuf[68] = 0; // 5\nbuf[69] = 0; // 6\nbuf[70] = 0; // 7\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [
            [
                "d5b078f3d5ede44c"
            ]
        ]
    },
    {
        "id": "14526c748aa11158",
        "type": "function",
        "z": "79d9c96a033c3d45",
        "name": "HUMID TEDS D0 BIN",
        "func": "var buf = new Buffer(71); // バイナリの配列をつくる\nbuf[0] = 3;\nbuf[1] = 2;\nbuf[2] = 1;\nbuf[3] = 0;\nbuf[4] = 0;;\nbuf[5] = 0; // UUID appId 0\nbuf[6] = 0; // 1\nbuf[7] = 0; // 2\nbuf[8] = 0; // 3\nbuf[9] = 0; // 4\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[15] = 0; // 10\nbuf[16] = 0; // 11\nbuf[17] = 0; // 12\nbuf[18] = 0; // 13\nbuf[19] = 0; // 14\nbuf[20] = 0; // 15\nbuf[21] = 0; // UUID ncapId 0\nbuf[22] = 0; // 1\nbuf[23] = 0; // 2\nbuf[24] = 0; // 3\nbuf[25] = 0; // 4\nbuf[26] = 0; // 5\nbuf[27] = 0; // 6\nbuf[28] = 0; // 7\nbuf[29] = 0; // 8\nbuf[30] = 0; // 9\nbuf[31] = 0; // 10\nbuf[32] = 0; // 11\nbuf[33] = 0; // 12\nbuf[34] = 0; // 13\nbuf[35] = 0; // 14\nbuf[36] = 0; // 15\nbuf[37] = 0; // UUID timId 0\nbuf[38] = 0; // 1\nbuf[39] = 0; // 2\nbuf[40] = 0; // 3\nbuf[41] = 0; // 4\nbuf[42] = 0; // 5\nbuf[43] = 0; // 6\nbuf[44] = 0; // 7\nbuf[45] = 0; // 8\nbuf[46] = 0; // 9\nbuf[47] = 0; // 10\nbuf[48] = 0; // 11\nbuf[49] = 0; // 12\nbuf[50] = 0; // 13\nbuf[51] = 0; // 14\nbuf[52] = 1; // 15\nbuf[53] = 0; // ChannelId 0 = 1\nbuf[54] = 0; // 3\nbuf[55] = 0; // 0 tedsAccessCode\nbuf[56] = 0; // 1\nbuf[57] = 0; // 2\nbuf[58] = 0; // 3\nbuf[59] = 0; // 0 tedsOffset\nbuf[60] = 0; // 1\nbuf[61] = 0; // 2\nbuf[62] = 0; // 3\nbuf[63] = 0; // 0 timeout\nbuf[64] = 0; // 1\nbuf[65] = 0; // 2\nbuf[66] = 0; // 3\nbuf[67] = 0; // 4\nbuf[68] = 0; // 5\nbuf[69] = 0; // 6\nbuf[70] = 0; // 7\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "d5b078f3d5ede44c"
            ]
        ]
    },
    {
        "id": "24e7d3a07e7a588a",
        "type": "debug",
        "z": "79d9c96a033c3d45",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "170852253b72cfb7",
        "type": "debug",
        "z": "79d9c96a033c3d45",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "timid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "be8fb119d7de7428",
        "type": "debug",
        "z": "79d9c96a033c3d45",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "typeid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "f5c8a0149fceaceb",
        "type": "debug",
        "z": "79d9c96a033c3d45",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "sample",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "ad3707fef74a7238",
        "type": "debug",
        "z": "79d9c96a033c3d45",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "teds",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "6aa0c146d190cdb2",
        "type": "switch",
        "z": "79d9c96a033c3d45",
        "name": "",
        "property": "typeid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2,1,2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "3,2,2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 740,
        "wires": [
            [
                "6ac888d050e4d6b9"
            ],
            [
                "ab9f593c672c2615"
            ]
        ]
    },
    {
        "id": "6ac888d050e4d6b9",
        "type": "template",
        "z": "79d9c96a033c3d45",
        "name": "sample",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{sample}}",
        "output": "str",
        "x": 890,
        "y": 720,
        "wires": [
            [
                "d065e2af679caf59"
            ]
        ]
    },
    {
        "id": "ab9f593c672c2615",
        "type": "template",
        "z": "79d9c96a033c3d45",
        "name": "TEDS",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{teds}}",
        "output": "str",
        "x": 880,
        "y": 760,
        "wires": [
            [
                "706f670557ca2462"
            ]
        ]
    },
    {
        "id": "706f670557ca2462",
        "type": "ui_text",
        "z": "79d9c96a033c3d45",
        "group": "21792d07.e6fa52",
        "order": 9,
        "width": "12",
        "height": "2",
        "name": "",
        "label": "D0 TEDS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 760,
        "wires": []
    },
    {
        "id": "1981f2b484413289",
        "type": "function",
        "z": "79d9c96a033c3d45",
        "name": "ArrayJoin",
        "func": "msg.payload = msg.payload.join()\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 80,
        "wires": [
            [
                "680ba5f51fab73f1"
            ]
        ]
    },
    {
        "id": "f2d4d89bef4001d9",
        "type": "function",
        "z": "79d9c96a033c3d45",
        "name": "ArrayJoin",
        "func": "msg.payload = msg.payload.join()\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "b58142dc7bbe6296"
            ]
        ]
    },
    {
        "id": "11981443984483f7",
        "type": "ui_slider",
        "z": "79d9c96a033c3d45",
        "name": "",
        "label": "D0 SERVO",
        "tooltip": "",
        "group": "646a2c33.077d74",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "d72c19a26330f404"
            ]
        ]
    },
    {
        "id": "d72c19a26330f404",
        "type": "function",
        "z": "79d9c96a033c3d45",
        "name": "SERVO D0 BIN",
        "func": "var buf = new Buffer(65); // バイナリの配列をつくる\nbuf[0] = 2;\nbuf[1] = 7;\nbuf[2] = 1;\nbuf[3] = 0;\nbuf[4] = 0;;\nbuf[5] = 0; // UUID appId 0\nbuf[6] = 0; // 1\nbuf[7] = 0; // 2\nbuf[8] = 0; // 3\nbuf[9] = 0; // 4\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[15] = 0; // 10\nbuf[16] = 0; // 11\nbuf[17] = 0; // 12\nbuf[18] = 0; // 13\nbuf[19] = 0; // 14\nbuf[20] = 0; // 15\nbuf[21] = 0; // UUID ncapId 0\nbuf[22] = 0; // 1\nbuf[23] = 0; // 2\nbuf[24] = 0; // 3\nbuf[25] = 0; // 4\nbuf[26] = 0; // 5\nbuf[27] = 0; // 6\nbuf[28] = 0; // 7\nbuf[29] = 0; // 8\nbuf[30] = 0; // 9\nbuf[31] = 0; // 10\nbuf[32] = 0; // 11\nbuf[33] = 0; // 12\nbuf[34] = 0; // 13\nbuf[35] = 0; // 14\nbuf[36] = 0; // 15\nbuf[37] = 0; // UUID timId 0\nbuf[38] = 0; // 1\nbuf[39] = 0; // 2\nbuf[40] = 0; // 3\nbuf[41] = 0; // 4\nbuf[42] = 0; // 5\nbuf[43] = 0; // 6\nbuf[44] = 0; // 7\nbuf[45] = 0; // 8\nbuf[46] = 0; // 9\nbuf[47] = 0; // 10\nbuf[48] = 0; // 11\nbuf[49] = 0; // 12\nbuf[50] = 0; // 13\nbuf[51] = 1; // 14\nbuf[52] = 0; // 15\nbuf[53] = 0; // ChannelId 0 = 1\nbuf[54] = 0; // 3\nbuf[55] = 0; // samplingMode 0=default\nbuf[56] = msg.payload;\nbuf[57] = 0 ; // TimeDuration\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 120,
        "wires": [
            [
                "d5b078f3d5ede44c"
            ]
        ]
    },
    {
        "id": "abfe261b9fecd91b",
        "type": "inject",
        "z": "79d9c96a033c3d45",
        "name": "SERVO-TEDS-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "1525c00c11c83afd"
            ]
        ]
    },
    {
        "id": "1525c00c11c83afd",
        "type": "ui_button",
        "z": "79d9c96a033c3d45",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "SERVO-TEDS-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "7e1ee749c8c8b038"
            ]
        ]
    },
    {
        "id": "7e1ee749c8c8b038",
        "type": "function",
        "z": "79d9c96a033c3d45",
        "name": "SERVO TEDS D0 BIN",
        "func": "var buf = new Buffer(71); // バイナリの配列をつくる\nbuf[0] = 3;\nbuf[1] = 2;\nbuf[2] = 1;\nbuf[3] = 0;\nbuf[4] = 0;;\nbuf[5] = 0; // UUID appId 0\nbuf[6] = 0; // 1\nbuf[7] = 0; // 2\nbuf[8] = 0; // 3\nbuf[9] = 0; // 4\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[15] = 0; // 10\nbuf[16] = 0; // 11\nbuf[17] = 0; // 12\nbuf[18] = 0; // 13\nbuf[19] = 0; // 14\nbuf[20] = 0; // 15\nbuf[21] = 0; // UUID ncapId 0\nbuf[22] = 0; // 1\nbuf[23] = 0; // 2\nbuf[24] = 0; // 3\nbuf[25] = 0; // 4\nbuf[26] = 0; // 5\nbuf[27] = 0; // 6\nbuf[28] = 0; // 7\nbuf[29] = 0; // 8\nbuf[30] = 0; // 9\nbuf[31] = 0; // 10\nbuf[32] = 0; // 11\nbuf[33] = 0; // 12\nbuf[34] = 0; // 13\nbuf[35] = 0; // 14\nbuf[36] = 0; // 15\nbuf[37] = 0; // UUID timId 0\nbuf[38] = 0; // 1\nbuf[39] = 0; // 2\nbuf[40] = 0; // 3\nbuf[41] = 0; // 4\nbuf[42] = 0; // 5\nbuf[43] = 0; // 6\nbuf[44] = 0; // 7\nbuf[45] = 0; // 8\nbuf[46] = 0; // 9\nbuf[47] = 0; // 10\nbuf[48] = 0; // 11\nbuf[49] = 0; // 12\nbuf[50] = 0; // 13\nbuf[51] = 1; // 14\nbuf[52] = 0; // 15\nbuf[53] = 0; // ChannelId 0 = 1\nbuf[54] = 0; // 3\nbuf[55] = 0; // 0 tedsAccessCode\nbuf[56] = 0; // 1\nbuf[57] = 0; // 2\nbuf[58] = 0; // 3\nbuf[59] = 0; // 0 tedsOffset\nbuf[60] = 0; // 1\nbuf[61] = 0; // 2\nbuf[62] = 0; // 3\nbuf[63] = 0; // 0 timeout\nbuf[64] = 0; // 1\nbuf[65] = 0; // 2\nbuf[66] = 0; // 3\nbuf[67] = 0; // 4\nbuf[68] = 0; // 5\nbuf[69] = 0; // 6\nbuf[70] = 0; // 7\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 280,
        "wires": [
            [
                "d5b078f3d5ede44c"
            ]
        ]
    },
    {
        "id": "9988e3420e875d74",
        "type": "inject",
        "z": "79d9c96a033c3d45",
        "name": "SERVO-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "11981443984483f7"
            ]
        ]
    }
]
