NodeRED.json
[
    {
        "id": "8c669873.b9ca38",
        "type": "tab",
        "label": "D (Direct Mode)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ce7fa268.9d67c",
        "type": "tab",
        "label": "D0C (Dot Zero CSV Mode)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8eeddedf.a2b48",
        "type": "tab",
        "label": "D0 (Dot Zero Mode)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c89debf5554f02b",
        "type": "ui_tab",
        "name": "ホーム",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "181bc49a8d119df2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED ダッシュボード",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "69053d56.095ee4",
        "type": "mqtt-broker",
        "name": "local(10.1.20.227)",
        "broker": "10.1.20.227",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "28fc1298.f8e59e",
        "type": "ui_tab",
        "name": "DASHBOARD",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "37491b3c.791b74",
        "type": "ui_group",
        "name": "TEMP",
        "tab": "28fc1298.f8e59e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86483328.1e604",
        "type": "ui_tab",
        "name": "Request-Response",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "74864aa2.194b24",
        "type": "ui_group",
        "name": "D0C TEMP/HUMID",
        "tab": "86483328.1e604",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3134a.6ced2cb8",
        "type": "ui_group",
        "name": "D0C SERVO",
        "tab": "86483328.1e604",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "646a2c33.077d74",
        "type": "ui_group",
        "name": "D0 TEMP/HUMID",
        "tab": "86483328.1e604",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e960bf17.9f3d",
        "type": "ui_group",
        "name": "D0 SERVO",
        "tab": "86483328.1e604",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9846458.3ae7f8",
        "type": "ui_tab",
        "name": "TEDS",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "21792d07.e6fa52",
        "type": "ui_group",
        "name": "D0C",
        "tab": "a9846458.3ae7f8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a3f9853.90cc98",
        "type": "ui_group",
        "name": "D0",
        "tab": "a9846458.3ae7f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60b99301e2ebe467",
        "type": "ui_group",
        "name": "HUMID",
        "tab": "28fc1298.f8e59e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a9743cc0606ae91",
        "type": "mqtt-broker",
        "name": "plugfest.west.sd.keio.ac.jp",
        "broker": "plugfest.west.sd.keio.ac.jp",
        "port": "24883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f9584b82.67d078",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/OUC-LEC/2023/ncap0/0/HUMID",
        "qos": "0",
        "datatype": "auto",
        "broker": "5a9743cc0606ae91",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "40ab9d6b.be1f64",
                "e70b00c1.50f3e"
            ]
        ]
    },
    {
        "id": "1e6e1155.861f0f",
        "type": "ui_chart",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "37491b3c.791b74",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "TEMPs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9c5aece3.3c80a",
        "type": "ui_gauge",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "37491b3c.791b74",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "40ab9d6b.be1f64",
        "type": "ui_chart",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "60b99301e2ebe467",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "HUMIDs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e70b00c1.50f3e",
        "type": "ui_gauge",
        "z": "8c669873.b9ca38",
        "name": "",
        "group": "60b99301e2ebe467",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMID",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "1a14718502628cbd",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5a9743cc0606ae91",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "42e5e0fb89009ed7"
            ]
        ]
    },
    {
        "id": "42e5e0fb89009ed7",
        "type": "debug",
        "z": "8c669873.b9ca38",
        "name": "Monitor All",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "dbabdd85.32707",
        "type": "mqtt in",
        "z": "8c669873.b9ca38",
        "name": "",
        "topic": "_1451.1.6/D/OUC-LEC/2023/ncap0/0/TEMP",
        "qos": "0",
        "datatype": "auto",
        "broker": "5a9743cc0606ae91",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "1e6e1155.861f0f",
                "9c5aece3.3c80a"
            ]
        ]
    },
    {
        "id": "a7b09d3b.d70c3",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "HUMID-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "a8ffe910.ac1108"
            ]
        ]
    },
    {
        "id": "a8ffe910.ac1108",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2,1,1,0,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0x00000000000000000000000000000001,0,0,0",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "981b713a.cd608",
        "type": "ui_gauge",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMID-D0C",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1510,
        "y": 680,
        "wires": []
    },
    {
        "id": "7398b1ac.a7386",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 580,
        "wires": []
    },
    {
        "id": "aa82d986.0da128",
        "type": "mqtt in",
        "z": "ce7fa268.9d67c",
        "name": "",
        "topic": "_1451.1.6/D0C/OUC-LEC/2023/application0",
        "qos": "0",
        "datatype": "auto",
        "broker": "5a9743cc0606ae91",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "eab5c2f5.a54b9",
                "95f08966444061f8"
            ]
        ]
    },
    {
        "id": "3a564ba5.c89664",
        "type": "ui_gauge",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMP-D0C",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1510,
        "y": 640,
        "wires": []
    },
    {
        "id": "e2c1c13a.07283",
        "type": "switch",
        "z": "ce7fa268.9d67c",
        "name": "",
        "property": "timid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "0x00000000000000000000000000000000",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "0x00000000000000000000000000000001",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 680,
        "wires": [
            [
                "3a564ba5.c89664",
                "7398b1ac.a7386"
            ],
            [
                "981b713a.cd608",
                "7398b1ac.a7386"
            ]
        ]
    },
    {
        "id": "914abb27.83ecc8",
        "type": "mqtt out",
        "z": "ce7fa268.9d67c",
        "name": "",
        "topic": "_1451.1.6/D0C/OUC-LEC/2023/ncap0",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5a9743cc0606ae91",
        "x": 1130,
        "y": 180,
        "wires": []
    },
    {
        "id": "c7195ef4.6f0c4",
        "type": "ui_toast",
        "z": "ce7fa268.9d67c",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "a9240fdc.bfddd",
        "type": "ui_toast",
        "z": "ce7fa268.9d67c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "eee9c750.34d7e8",
        "type": "function",
        "z": "ce7fa268.9d67c",
        "name": "THRU",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 140,
        "wires": [
            [
                "914abb27.83ecc8",
                "c7195ef4.6f0c4",
                "17ce7a12.d0f976"
            ]
        ]
    },
    {
        "id": "4a5798f7.8ebd18",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "HUMID-TEDS-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "ba8d0525.261d48"
            ]
        ]
    },
    {
        "id": "352dd4ab.787d4c",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "TEMP-TEDS-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "d2187a9b.240568"
            ]
        ]
    },
    {
        "id": "ba8d0525.261d48",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-TEDS-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3,2,1,0,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0x00000000000000000000000000000001,0,0,0",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "d2187a9b.240568",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "21792d07.e6fa52",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP-TEDS-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3,2,1,0,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0,0,0",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "17ce7a12.d0f976",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 100,
        "wires": []
    },
    {
        "id": "bbd8e6f3.241e68",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "eab5c2f5.a54b9",
        "type": "function",
        "z": "ce7fa268.9d67c",
        "name": "Array2Str",
        "func": "let pa = msg.payload.split(',');\nmsg.typeid = pa.slice(0, 3).join();\nmsg.timid = pa.slice(7, 8);\nmsg.sample = pa.slice(9, 10);\nmsg.teds = pa.slice(9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 560,
        "wires": [
            [
                "bbd8e6f3.241e68",
                "a9240fdc.bfddd",
                "988f4012.dfaa7",
                "c05096c5.c1b8e8",
                "dba5f24c.500f1",
                "809fecb1.3bb16",
                "b513103d.2132f"
            ]
        ]
    },
    {
        "id": "c05096c5.c1b8e8",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "timid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "988f4012.dfaa7",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "typeid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "dba5f24c.500f1",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "sample",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "809fecb1.3bb16",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "teds",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "b513103d.2132f",
        "type": "switch",
        "z": "ce7fa268.9d67c",
        "name": "",
        "property": "typeid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2,1,2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "3,2,2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 780,
        "wires": [
            [
                "bec453af.5a785"
            ],
            [
                "96679f05.12629"
            ]
        ]
    },
    {
        "id": "bec453af.5a785",
        "type": "template",
        "z": "ce7fa268.9d67c",
        "name": "sample",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{sample}}",
        "output": "str",
        "x": 1000,
        "y": 680,
        "wires": [
            [
                "e2c1c13a.07283"
            ]
        ]
    },
    {
        "id": "96679f05.12629",
        "type": "template",
        "z": "ce7fa268.9d67c",
        "name": "TEDS",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{teds}}",
        "output": "str",
        "x": 990,
        "y": 800,
        "wires": [
            [
                "3b63d0f6.e4dfb"
            ]
        ]
    },
    {
        "id": "3b63d0f6.e4dfb",
        "type": "ui_text",
        "z": "ce7fa268.9d67c",
        "group": "21792d07.e6fa52",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "D0C TEDS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1160,
        "y": 800,
        "wires": []
    },
    {
        "id": "303d8fc4b1756ec9",
        "type": "inject",
        "z": "ce7fa268.9d67c",
        "name": "TEMP-D0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "8420054cf045db51"
            ]
        ]
    },
    {
        "id": "8420054cf045db51",
        "type": "ui_button",
        "z": "ce7fa268.9d67c",
        "name": "",
        "group": "74864aa2.194b24",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP-D0C-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2,1,1,0,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0,0,0",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 410,
        "y": 80,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "aedf2d031c356f31",
        "type": "ui_slider",
        "z": "ce7fa268.9d67c",
        "name": "",
        "label": "D0C SERVO",
        "tooltip": "",
        "group": "c3134a.6ced2cb8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "07cffbf2d5568332"
            ]
        ]
    },
    {
        "id": "07cffbf2d5568332",
        "type": "function",
        "z": "ce7fa268.9d67c",
        "name": "SyncWriteCmd",
        "func": "msg.payload = '2,7,1,0,0x00000000000000000000000000000000,0x00000000000000000000000000000000,0x00000000000000000000000000000010,0,0,'+\n    + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "eee9c750.34d7e8"
            ]
        ]
    },
    {
        "id": "95f08966444061f8",
        "type": "debug",
        "z": "ce7fa268.9d67c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 460,
        "wires": []
    },
    {
        "id": "8278591b.5732d8",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "TEMP-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "644ab2ea.db7f7c"
            ]
        ]
    },
    {
        "id": "644ab2ea.db7f7c",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "e130bdd2.ab0d9"
            ]
        ]
    },
    {
        "id": "d9084656.423338",
        "type": "mqtt in",
        "z": "8eeddedf.a2b48",
        "name": "",
        "topic": "_1451.1.6/D0/OUC-LEC/2023/application0",
        "qos": "1",
        "datatype": "auto",
        "broker": "5a9743cc0606ae91",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "57903576.a8272c",
                "255ad914.e29b96",
                "fee7a83b.b28ba8"
            ]
        ]
    },
    {
        "id": "e130bdd2.ab0d9",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "TEMP D0 BIN",
        "func": "var buf = new Buffer(64); // バイナリの配列をつくる\nbuf[0] = 2;\nbuf[1] = 1;\nbuf[2] = 1;\nbuf[3] = 0;\nbuf[4] = 0;;\nbuf[5] = 0; // UUID appId 0\nbuf[6] = 0; // 1\nbuf[7] = 0; // 2\nbuf[8] = 0; // 3\nbuf[9] = 0; // 4\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[15] = 0; // 10\nbuf[16] = 0; // 11\nbuf[17] = 0; // 12\nbuf[18] = 0; // 13\nbuf[19] = 0; // 14\nbuf[20] = 0; // 15\nbuf[21] = 0; // UUID ncapId 0\nbuf[22] = 0; // 1\nbuf[23] = 0; // 2\nbuf[24] = 0; // 3\nbuf[25] = 0; // 4\nbuf[26] = 0; // 5\nbuf[27] = 0; // 6\nbuf[28] = 0; // 7\nbuf[29] = 0; // 8\nbuf[30] = 0; // 9\nbuf[31] = 0; // 10\nbuf[32] = 0; // 11\nbuf[33] = 0; // 12\nbuf[34] = 0; // 13\nbuf[35] = 0; // 14\nbuf[36] = 0; // 15\nbuf[37] = 0; // UUID timId 0\nbuf[38] = 0; // 1\nbuf[39] = 0; // 2\nbuf[40] = 0; // 3\nbuf[41] = 0; // 4\nbuf[42] = 0; // 5\nbuf[43] = 0; // 6\nbuf[44] = 0; // 7\nbuf[45] = 0; // 8\nbuf[46] = 0; // 9\nbuf[47] = 0; // 10\nbuf[48] = 0; // 11\nbuf[49] = 0; // 12\nbuf[50] = 0; // 13\nbuf[51] = 0; // 14\nbuf[52] = 0; // 15\nbuf[53] = 0; // ChannelId 0 = 1\nbuf[54] = 0; // 3\nbuf[55] = 0; // samplingMode 0=default\nbuf[56] = 0; // TimeDuration 0\nbuf[57] = 0; // 1\nbuf[58] = 0; // 2\nbuf[59] = 0; // 3\nbuf[60] = 0; // 4\nbuf[61] = 0; // 5\nbuf[62] = 0; // 6\nbuf[63] = 0; // 7\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 40,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "57903576.a8272c",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "Array2Str",
        "func": "msg.typeid = msg.payload.slice(0,3).join()\nmsg.timid = parseInt(msg.payload.slice(39,55)[15]);\n//msg.timid = msg.payload.slice(39, 55);\nmsg.sample = '' + msg.payload.slice(57, 65);\nmsg.teds = msg.payload.slice(59)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 520,
        "wires": [
            [
                "1a91458e.e8e2ca",
                "7a33c49e.8ed42c",
                "9fee31fe.f9134",
                "ab54705c.ab38f",
                "a7a355ca.a32038",
                "a1bf1fb2.4c964"
            ]
        ]
    },
    {
        "id": "e3f0020d.e9f6c",
        "type": "ui_gauge",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMP-D0",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1250,
        "y": 620,
        "wires": []
    },
    {
        "id": "255ad914.e29b96",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "7ac10ffa.8f0be",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "HUMID-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "6d4dcc7d.174624"
            ]
        ]
    },
    {
        "id": "6d4dcc7d.174624",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "8624b141.79a8c"
            ]
        ]
    },
    {
        "id": "8624b141.79a8c",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "HUMID D0 BIN",
        "func": "var buf = new Buffer(64); // バイナリの配列をつくる\nbuf[0] = 2;\nbuf[1] = 1;\nbuf[2] = 1;\nbuf[3] = 0;\nbuf[4] = 0;;\nbuf[5] = 0; // UUID appId 0\nbuf[6] = 0; // 1\nbuf[7] = 0; // 2\nbuf[8] = 0; // 3\nbuf[9] = 0; // 4\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[15] = 0; // 10\nbuf[16] = 0; // 11\nbuf[17] = 0; // 12\nbuf[18] = 0; // 13\nbuf[19] = 0; // 14\nbuf[20] = 0; // 15\nbuf[21] = 0; // UUID ncapId 0\nbuf[22] = 0; // 1\nbuf[23] = 0; // 2\nbuf[24] = 0; // 3\nbuf[25] = 0; // 4\nbuf[26] = 0; // 5\nbuf[27] = 0; // 6\nbuf[28] = 0; // 7\nbuf[29] = 0; // 8\nbuf[30] = 0; // 9\nbuf[31] = 0; // 10\nbuf[32] = 0; // 11\nbuf[33] = 0; // 12\nbuf[34] = 0; // 13\nbuf[35] = 0; // 14\nbuf[36] = 0; // 15\nbuf[37] = 0; // UUID timId 0\nbuf[38] = 0; // 1\nbuf[39] = 0; // 2\nbuf[40] = 0; // 3\nbuf[41] = 0; // 4\nbuf[42] = 0; // 5\nbuf[43] = 0; // 6\nbuf[44] = 0; // 7\nbuf[45] = 0; // 8\nbuf[46] = 0; // 9\nbuf[47] = 0; // 10\nbuf[48] = 0; // 11\nbuf[49] = 0; // 12\nbuf[50] = 0; // 13\nbuf[51] = 0; // 14\nbuf[52] = 1; // 15\nbuf[53] = 0; // ChannelId 0 = 1\nbuf[54] = 0; // 3\nbuf[55] = 0; // samplingMode 0=default\nbuf[56] = 0; // TimeDuration 0\nbuf[57] = 0; // 1\nbuf[58] = 0; // 2\nbuf[59] = 0; // 3\nbuf[60] = 0; // 4\nbuf[61] = 0; // 5\nbuf[62] = 0; // 6\nbuf[63] = 0; // 7\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "13bd6858.070f28",
        "type": "mqtt out",
        "z": "8eeddedf.a2b48",
        "name": "",
        "topic": "_1451.1.6/D0/OUC-LEC/2023/ncap0",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5a9743cc0606ae91",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "2bf4434.107a2bc",
        "type": "ui_toast",
        "z": "8eeddedf.a2b48",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1300,
        "y": 80,
        "wires": []
    },
    {
        "id": "50f3ded4.24f07",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "THRU",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 120,
        "wires": [
            [
                "13bd6858.070f28",
                "518b2c6f.130cd4",
                "8a573557.994548"
            ]
        ]
    },
    {
        "id": "1e2a9640.3dd46a",
        "type": "ui_toast",
        "z": "8eeddedf.a2b48",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "9382b121.a7781",
        "type": "switch",
        "z": "8eeddedf.a2b48",
        "name": "",
        "property": "timid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1060,
        "y": 640,
        "wires": [
            [
                "e3f0020d.e9f6c"
            ],
            [
                "d82939fd.fdb788"
            ]
        ]
    },
    {
        "id": "518b2c6f.130cd4",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 40,
        "wires": []
    },
    {
        "id": "d82939fd.fdb788",
        "type": "ui_gauge",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "646a2c33.077d74",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMID-D0",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1260,
        "y": 660,
        "wires": []
    },
    {
        "id": "61b05f8a.2981b",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "TEMP-TEDS-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "a5977031.f865a"
            ]
        ]
    },
    {
        "id": "a5977031.f865a",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "TEMP-TEDS-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "cd2966a2.2dfaf8"
            ]
        ]
    },
    {
        "id": "6e6784aa.b9b3dc",
        "type": "inject",
        "z": "8eeddedf.a2b48",
        "name": "HUMID-TEDS-D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dummy",
        "payloadType": "str",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "6c235d39.d46794"
            ]
        ]
    },
    {
        "id": "6c235d39.d46794",
        "type": "ui_button",
        "z": "8eeddedf.a2b48",
        "name": "",
        "group": "3a3f9853.90cc98",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "HUMID-TEDS-D0-REQ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dummy",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "f5fb411f.821f2"
            ]
        ]
    },
    {
        "id": "cd2966a2.2dfaf8",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "TEMP TEDS D0 BIN",
        "func": "var buf = new Buffer(71); // バイナリの配列をつくる\nbuf[0] = 3;\nbuf[1] = 2;\nbuf[2] = 1;\nbuf[3] = 0;\nbuf[4] = 0;;\nbuf[5] = 0; // UUID appId 0\nbuf[6] = 0; // 1\nbuf[7] = 0; // 2\nbuf[8] = 0; // 3\nbuf[9] = 0; // 4\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[15] = 0; // 10\nbuf[16] = 0; // 11\nbuf[17] = 0; // 12\nbuf[18] = 0; // 13\nbuf[19] = 0; // 14\nbuf[20] = 0; // 15\nbuf[21] = 0; // UUID ncapId 0\nbuf[22] = 0; // 1\nbuf[23] = 0; // 2\nbuf[24] = 0; // 3\nbuf[25] = 0; // 4\nbuf[26] = 0; // 5\nbuf[27] = 0; // 6\nbuf[28] = 0; // 7\nbuf[29] = 0; // 8\nbuf[30] = 0; // 9\nbuf[31] = 0; // 10\nbuf[32] = 0; // 11\nbuf[33] = 0; // 12\nbuf[34] = 0; // 13\nbuf[35] = 0; // 14\nbuf[36] = 0; // 15\nbuf[37] = 0; // UUID timId 0\nbuf[38] = 0; // 1\nbuf[39] = 0; // 2\nbuf[40] = 0; // 3\nbuf[41] = 0; // 4\nbuf[42] = 0; // 5\nbuf[43] = 0; // 6\nbuf[44] = 0; // 7\nbuf[45] = 0; // 8\nbuf[46] = 0; // 9\nbuf[47] = 0; // 10\nbuf[48] = 0; // 11\nbuf[49] = 0; // 12\nbuf[50] = 0; // 13\nbuf[51] = 0; // 14\nbuf[52] = 0; // 15\nbuf[53] = 0; // ChannelId 0 = 1\nbuf[54] = 0; // 3\nbuf[55] = 0; // 0 tedsAccessCode\nbuf[56] = 0; // 1\nbuf[57] = 0; // 2\nbuf[58] = 0; // 3\nbuf[59] = 0; // 0 tedsOffset\nbuf[60] = 0; // 1\nbuf[61] = 0; // 2\nbuf[62] = 0; // 3\nbuf[63] = 0; // 0 timeout\nbuf[64] = 0; // 1\nbuf[65] = 0; // 2\nbuf[66] = 0; // 3\nbuf[67] = 0; // 4\nbuf[68] = 0; // 5\nbuf[69] = 0; // 6\nbuf[70] = 0; // 7\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "f5fb411f.821f2",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "HUMID TEDS D0 BIN",
        "func": "var buf = new Buffer(71); // バイナリの配列をつくる\nbuf[0] = 3;\nbuf[1] = 2;\nbuf[2] = 1;\nbuf[3] = 0;\nbuf[4] = 0;;\nbuf[5] = 0; // UUID appId 0\nbuf[6] = 0; // 1\nbuf[7] = 0; // 2\nbuf[8] = 0; // 3\nbuf[9] = 0; // 4\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[15] = 0; // 10\nbuf[16] = 0; // 11\nbuf[17] = 0; // 12\nbuf[18] = 0; // 13\nbuf[19] = 0; // 14\nbuf[20] = 0; // 15\nbuf[21] = 0; // UUID ncapId 0\nbuf[22] = 0; // 1\nbuf[23] = 0; // 2\nbuf[24] = 0; // 3\nbuf[25] = 0; // 4\nbuf[26] = 0; // 5\nbuf[27] = 0; // 6\nbuf[28] = 0; // 7\nbuf[29] = 0; // 8\nbuf[30] = 0; // 9\nbuf[31] = 0; // 10\nbuf[32] = 0; // 11\nbuf[33] = 0; // 12\nbuf[34] = 0; // 13\nbuf[35] = 0; // 14\nbuf[36] = 0; // 15\nbuf[37] = 0; // UUID timId 0\nbuf[38] = 0; // 1\nbuf[39] = 0; // 2\nbuf[40] = 0; // 3\nbuf[41] = 0; // 4\nbuf[42] = 0; // 5\nbuf[43] = 0; // 6\nbuf[44] = 0; // 7\nbuf[45] = 0; // 8\nbuf[46] = 0; // 9\nbuf[47] = 0; // 10\nbuf[48] = 0; // 11\nbuf[49] = 0; // 12\nbuf[50] = 0; // 13\nbuf[51] = 0; // 14\nbuf[52] = 1; // 15\nbuf[53] = 0; // ChannelId 0 = 1\nbuf[54] = 0; // 3\nbuf[55] = 0; // 0 tedsAccessCode\nbuf[56] = 0; // 1\nbuf[57] = 0; // 2\nbuf[58] = 0; // 3\nbuf[59] = 0; // 0 tedsOffset\nbuf[60] = 0; // 1\nbuf[61] = 0; // 2\nbuf[62] = 0; // 3\nbuf[63] = 0; // 0 timeout\nbuf[64] = 0; // 1\nbuf[65] = 0; // 2\nbuf[66] = 0; // 3\nbuf[67] = 0; // 4\nbuf[68] = 0; // 5\nbuf[69] = 0; // 6\nbuf[70] = 0; // 7\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    },
    {
        "id": "a7a355ca.a32038",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 600,
        "wires": []
    },
    {
        "id": "7a33c49e.8ed42c",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "timid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "1a91458e.e8e2ca",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "typeid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "9fee31fe.f9134",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "sample",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "ab54705c.ab38f",
        "type": "debug",
        "z": "8eeddedf.a2b48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "teds",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "a1bf1fb2.4c964",
        "type": "switch",
        "z": "8eeddedf.a2b48",
        "name": "",
        "property": "typeid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2,1,2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "3,2,2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 700,
        "wires": [
            [
                "eb66c937.fe6a98"
            ],
            [
                "3555dcff.e30874"
            ]
        ]
    },
    {
        "id": "eb66c937.fe6a98",
        "type": "template",
        "z": "8eeddedf.a2b48",
        "name": "sample",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{sample}}",
        "output": "str",
        "x": 890,
        "y": 680,
        "wires": [
            [
                "9382b121.a7781"
            ]
        ]
    },
    {
        "id": "3555dcff.e30874",
        "type": "template",
        "z": "8eeddedf.a2b48",
        "name": "TEDS",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{teds}}",
        "output": "str",
        "x": 880,
        "y": 720,
        "wires": [
            [
                "9f1ae063.07fd6"
            ]
        ]
    },
    {
        "id": "9f1ae063.07fd6",
        "type": "ui_text",
        "z": "8eeddedf.a2b48",
        "group": "3a3f9853.90cc98",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "D0 TEDS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 720,
        "wires": []
    },
    {
        "id": "8a573557.994548",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "ArrayJoin",
        "func": "msg.payload = msg.payload.join()\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 80,
        "wires": [
            [
                "2bf4434.107a2bc"
            ]
        ]
    },
    {
        "id": "fee7a83b.b28ba8",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "ArrayJoin",
        "func": "msg.payload = msg.payload.join()\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "1e2a9640.3dd46a"
            ]
        ]
    },
    {
        "id": "ad57f16784dacaaf",
        "type": "ui_slider",
        "z": "8eeddedf.a2b48",
        "name": "",
        "label": "D0 SERVO",
        "tooltip": "",
        "group": "e960bf17.9f3d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "e7c267e1b0760b8e"
            ]
        ]
    },
    {
        "id": "e7c267e1b0760b8e",
        "type": "function",
        "z": "8eeddedf.a2b48",
        "name": "SERVO D0 BIN",
        "func": "var buf = new Buffer(65); // バイナリの配列をつくる\nbuf[0] = 2;\nbuf[1] = 7;\nbuf[2] = 1;\nbuf[3] = 0;\nbuf[4] = 0;;\nbuf[5] = 0; // UUID appId 0\nbuf[6] = 0; // 1\nbuf[7] = 0; // 2\nbuf[8] = 0; // 3\nbuf[9] = 0; // 4\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[10] = 0; // 5\nbuf[11] = 0; // 6\nbuf[12] = 0; // 7\nbuf[13] = 0; // 8\nbuf[14] = 0; // 9\nbuf[15] = 0; // 10\nbuf[16] = 0; // 11\nbuf[17] = 0; // 12\nbuf[18] = 0; // 13\nbuf[19] = 0; // 14\nbuf[20] = 0; // 15\nbuf[21] = 0; // UUID ncapId 0\nbuf[22] = 0; // 1\nbuf[23] = 0; // 2\nbuf[24] = 0; // 3\nbuf[25] = 0; // 4\nbuf[26] = 0; // 5\nbuf[27] = 0; // 6\nbuf[28] = 0; // 7\nbuf[29] = 0; // 8\nbuf[30] = 0; // 9\nbuf[31] = 0; // 10\nbuf[32] = 0; // 11\nbuf[33] = 0; // 12\nbuf[34] = 0; // 13\nbuf[35] = 0; // 14\nbuf[36] = 0; // 15\nbuf[37] = 0; // UUID timId 0\nbuf[38] = 0; // 1\nbuf[39] = 0; // 2\nbuf[40] = 0; // 3\nbuf[41] = 0; // 4\nbuf[42] = 0; // 5\nbuf[43] = 0; // 6\nbuf[44] = 0; // 7\nbuf[45] = 0; // 8\nbuf[46] = 0; // 9\nbuf[47] = 0; // 10\nbuf[48] = 0; // 11\nbuf[49] = 0; // 12\nbuf[50] = 0; // 13\nbuf[51] = 1; // 14\nbuf[52] = 0; // 15\nbuf[53] = 0; // ChannelId 0 = 1\nbuf[54] = 0; // 3\nbuf[55] = 0; // samplingMode 0=default\nbuf[56] = msg.payload;\nbuf[57] = 0 ; // TimeDuration\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 120,
        "wires": [
            [
                "50f3ded4.24f07"
            ]
        ]
    }
]
