m5stack-shana/digitaltwin-demo/node_red_dashboard/.node_red_digital_twin.json.backup
[
    {
        "id": "49317004d5317078",
        "type": "tab",
        "label": "Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bdea7a73f727af35",
        "type": "mqtt-broker",
        "name": "localhost_mosquitto",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92679c3d6723a50e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "636623131d75b2b7",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "52560e4898df94f5",
        "type": "ui_group",
        "name": "MainDashboard",
        "tab": "92679c3d6723a50e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ba9cf9898ae1b98",
        "type": "mqtt in",
        "z": "49317004d5317078",
        "name": "core_1_mqtt_in",
        "topic": "_1451DT/core_1/sensor/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bdea7a73f727af35",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 240,
        "wires": [
            [
                "3035d037b0a79e07"
            ]
        ]
    },
    {
        "id": "dffe1cab2486297c",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "core_1_tempSHT",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "3035d037b0a79e07",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "core_1_xml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "ce4a8c74274d0c40",
                "f018808b21e0aabe"
            ]
        ]
    },
    {
        "id": "ce4a8c74274d0c40",
        "type": "function",
        "z": "49317004d5317078",
        "name": "Output",
        "func": "if (msg.payload && msg.payload.TEDS){\n    let msg1 = {\n        payload: msg.payload.TEDS.DEBUG[0].TempSHT\n    };\n    let msg2 = {\n        payload: msg.payload.TEDS.DEBUG[0].TempBMP,\n    };\n    let msg3 = {\n        payload: msg.payload.TEDS.DEBUG[0].Humidity,\n    };\n    let msg4 = {\n        payload: msg.payload.TEDS.DEBUG[0].Altitude,\n    };\n    let msg5 = {\n        payload: msg.payload.TEDS.DEBUG[0].Pressure,\n    };\n    return [msg1, msg2, msg3, msg4, msg5];\n}\nelse if (msg.payload && msg.payload.root){\n    let msg1 = {\n        payload: msg.payload.root.TempSHT,\n    };\n    let msg2 = {\n        payload: msg.payload.root.TempBMP,\n    };\n    let msg3 = {\n        payload: msg.payload.root.Humidity,\n    };\n    let msg4 = {\n        payload: msg.payload.root.Altitude,\n    };\n    let msg5 = {\n        payload: msg.payload.root.Pressure,\n    };\n    return [msg1, msg2, msg3, msg4, msg5];\n}\nelse if (msg.payload && typeof msg.payload === 'object') {\n    // Handle the case where msg.payload is a JSON object\n    console.log(\"msg.payload (JSON):\", msg.payload);\n\n    // Ensure the properties exist in msg.payload\n    let msg1 = { payload: msg.payload.TempSHT || 'N/A' };\n    let msg2 = { payload: msg.payload.TempBMP || 'N/A' };\n    let msg3 = { payload: msg.payload.Humidity || 'N/A' };\n    let msg4 = { payload: msg.payload.Altitude || 'N/A' };\n    let msg5 = { payload: msg.payload.Pressure || 'N/A' };\n\n    return [msg1, msg2, msg3, msg4, msg5];\n} else {\n    // Handle case where msg.payload is not in the expected format\n    //let msg1 = { payload: msg.payload }\n    //return [msg1, msg1, msg1, msg1, msg1];\n}",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "dffe1cab2486297c"
            ],
            [
                "f1dca1a64a18c9ea"
            ],
            [
                "b614847e5062d360"
            ],
            [],
            [
                "8c4ef166d059a206"
            ]
        ]
    },
    {
        "id": "f018808b21e0aabe",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "core_1_jsonxml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 300,
        "y": 300,
        "wires": [
            [
                "ce4a8c74274d0c40"
            ]
        ]
    },
    {
        "id": "f1dca1a64a18c9ea",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "core_1_tempBMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "b614847e5062d360",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "core_1_Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "8c4ef166d059a206",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "core_1_Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 300,
        "wires": []
    }
]