m5stack-shana/digitaltwin-demo/node_red_dashboard/node_red_digital_twin.json
[
    {
        "id": "49317004d5317078",
        "type": "tab",
        "label": "Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bdea7a73f727af35",
        "type": "mqtt-broker",
        "name": "localhost_mosquitto",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92679c3d6723a50e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "636623131d75b2b7",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "52560e4898df94f5",
        "type": "ui_group",
        "name": "MainDashboard",
        "tab": "92679c3d6723a50e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ba9cf9898ae1b98",
        "type": "mqtt in",
        "z": "49317004d5317078",
        "name": "core_1_mqtt_in",
        "topic": "_1451DT/core_1/sensor/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bdea7a73f727af35",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 240,
        "wires": [
            [
                "3035d037b0a79e07"
            ]
        ]
    },
    {
        "id": "dffe1cab2486297c",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "sys_1_tempSHT",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "3035d037b0a79e07",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "core_1_xml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "ce4a8c74274d0c40",
                "f018808b21e0aabe"
            ]
        ]
    },
    {
        "id": "ce4a8c74274d0c40",
        "type": "function",
        "z": "49317004d5317078",
        "name": "Output",
        "func": "if (msg.payload && msg.payload.TEDS){\n    let msg1 = {\n        payload: msg.payload.TEDS.DEBUG[0].TempSHT\n    };\n    let msg2 = {\n        payload: msg.payload.TEDS.DEBUG[0].TempBMP,\n    };\n    let msg3 = {\n        payload: msg.payload.TEDS.DEBUG[0].Humidity,\n    };\n    let msg4 = {\n        payload: msg.payload.TEDS.DEBUG[0].Altitude,\n    };\n    let msg5 = {\n        payload: msg.payload.TEDS.DEBUG[0].Pressure,\n    };\n    return [msg1, msg2, msg3, msg4, msg5];\n}\nelse if (msg.payload && msg.payload.root){\n    let msg1 = {\n        payload: msg.payload.root.TempSHT,\n    };\n    let msg2 = {\n        payload: msg.payload.root.TempBMP,\n    };\n    let msg3 = {\n        payload: msg.payload.root.Humidity,\n    };\n    let msg4 = {\n        payload: msg.payload.root.Altitude,\n    };\n    let msg5 = {\n        payload: msg.payload.root.Pressure,\n    };\n    return [msg1, msg2, msg3, msg4, msg5];\n}\nelse if (msg.payload && typeof msg.payload === 'object') {\n    // Handle the case where msg.payload is a JSON object\n    console.log(\"msg.payload (JSON):\", msg.payload);\n\n    // Ensure the properties exist in msg.payload\n    let msg1 = { payload: msg.payload.TempSHT || 'N/A' };\n    let msg2 = { payload: msg.payload.TempBMP || 'N/A' };\n    let msg3 = { payload: msg.payload.Humidity || 'N/A' };\n    let msg4 = { payload: msg.payload.Altitude || 'N/A' };\n    let msg5 = { payload: msg.payload.Pressure || 'N/A' };\n\n    return [msg1, msg2, msg3, msg4, msg5];\n} else {\n    // Handle case where msg.payload is not in the expected format\n    //let msg1 = { payload: msg.payload }\n    //return [msg1, msg1, msg1, msg1, msg1];\n}",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "dffe1cab2486297c"
            ],
            [
                "f1dca1a64a18c9ea"
            ],
            [
                "b614847e5062d360"
            ],
            [],
            [
                "8c4ef166d059a206"
            ]
        ]
    },
    {
        "id": "f018808b21e0aabe",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "core_1_jsonxml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 300,
        "y": 300,
        "wires": [
            [
                "ce4a8c74274d0c40"
            ]
        ]
    },
    {
        "id": "f1dca1a64a18c9ea",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "sys_1_tempBMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "b614847e5062d360",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "sys_1_Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "8c4ef166d059a206",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "sys_1_Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "f47d7d9856c1399a",
        "type": "mqtt in",
        "z": "49317004d5317078",
        "name": "core_2_mqtt_in",
        "topic": "_1451DT/core_2/sensor/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bdea7a73f727af35",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 420,
        "wires": [
            [
                "125ef743930c777d"
            ]
        ]
    },
    {
        "id": "f582f9888aabdf2b",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "sys_2_tempSHT",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "125ef743930c777d",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "core_2_xml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "b97524d2103da84f",
                "d24342e71396c5c9"
            ]
        ]
    },
    {
        "id": "b97524d2103da84f",
        "type": "function",
        "z": "49317004d5317078",
        "name": "Output",
        "func": "if (msg.payload && msg.payload.TEDS){\n    let msg1 = {\n        payload: msg.payload.TEDS.DEBUG[0].TempSHT\n    };\n    let msg2 = {\n        payload: msg.payload.TEDS.DEBUG[0].TempBMP,\n    };\n    let msg3 = {\n        payload: msg.payload.TEDS.DEBUG[0].Humidity,\n    };\n    let msg4 = {\n        payload: msg.payload.TEDS.DEBUG[0].Altitude,\n    };\n    let msg5 = {\n        payload: msg.payload.TEDS.DEBUG[0].Pressure,\n    };\n    return [msg1, msg2, msg3, msg4, msg5];\n}\nelse if (msg.payload && msg.payload.root){\n    let msg1 = {\n        payload: msg.payload.root.TempSHT,\n    };\n    let msg2 = {\n        payload: msg.payload.root.TempBMP,\n    };\n    let msg3 = {\n        payload: msg.payload.root.Humidity,\n    };\n    let msg4 = {\n        payload: msg.payload.root.Altitude,\n    };\n    let msg5 = {\n        payload: msg.payload.root.Pressure,\n    };\n    return [msg1, msg2, msg3, msg4, msg5];\n}\nelse if (msg.payload && typeof msg.payload === 'object') {\n    // Handle the case where msg.payload is a JSON object\n    console.log(\"msg.payload (JSON):\", msg.payload);\n\n    // Ensure the properties exist in msg.payload\n    let msg1 = { payload: msg.payload.TempSHT || 'N/A' };\n    let msg2 = { payload: msg.payload.TempBMP || 'N/A' };\n    let msg3 = { payload: msg.payload.Humidity || 'N/A' };\n    let msg4 = { payload: msg.payload.Altitude || 'N/A' };\n    let msg5 = { payload: msg.payload.Pressure || 'N/A' };\n\n    return [msg1, msg2, msg3, msg4, msg5];\n} else {\n    // Handle case where msg.payload is not in the expected format\n    //let msg1 = { payload: msg.payload }\n    //return [msg1, msg1, msg1, msg1, msg1];\n}",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "f582f9888aabdf2b"
            ],
            [
                "1862df877838d618"
            ],
            [
                "0395f2f5a7e5bb9b"
            ],
            [],
            [
                "26918fe17e626657"
            ]
        ]
    },
    {
        "id": "d24342e71396c5c9",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "core_2_jsonxml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "b97524d2103da84f"
            ]
        ]
    },
    {
        "id": "1862df877838d618",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "sys_2_tempBMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "0395f2f5a7e5bb9b",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "sys_2_Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "26918fe17e626657",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "sys_2_Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "b0ea399b2d8ce754",
        "type": "mqtt in",
        "z": "49317004d5317078",
        "name": "twin_mqtt_in",
        "topic": "_1451DT/twin/sensor/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bdea7a73f727af35",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 220,
        "wires": [
            [
                "34505d2a59d6c1a9"
            ]
        ]
    },
    {
        "id": "34505d2a59d6c1a9",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "twin_xml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1140,
        "y": 220,
        "wires": [
            [
                "eb21232a75b5e5cc",
                "adb6c145a455ec91"
            ]
        ]
    },
    {
        "id": "adb6c145a455ec91",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "twin_jsonxml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "eb21232a75b5e5cc"
            ]
        ]
    },
    {
        "id": "eb21232a75b5e5cc",
        "type": "function",
        "z": "49317004d5317078",
        "name": "Output",
        "func": "if (msg.payload && msg.payload.TEDS){\n    let msg1 = {\n        payload: msg.payload.TEDS.DEBUG[0].TempSHT\n    };\n    let msg2 = {\n        payload: msg.payload.TEDS.DEBUG[0].TempBMP,\n    };\n    let msg3 = {\n        payload: msg.payload.TEDS.DEBUG[0].Humidity,\n    };\n    let msg4 = {\n        payload: msg.payload.TEDS.DEBUG[0].Altitude,\n    };\n    let msg5 = {\n        payload: msg.payload.TEDS.DEBUG[0].Pressure,\n    };\n    return [msg1, msg2, msg3, msg4, msg5];\n}\nelse if (msg.payload && msg.payload.root){\n    let msg1 = {\n        payload: msg.payload.root.TempSHT,\n    };\n    let msg2 = {\n        payload: msg.payload.root.TempBMP,\n    };\n    let msg3 = {\n        payload: msg.payload.root.Humidity,\n    };\n    let msg4 = {\n        payload: msg.payload.root.Altitude,\n    };\n    let msg5 = {\n        payload: msg.payload.root.Pressure,\n    };\n    return [msg1, msg2, msg3, msg4, msg5];\n}\nelse if (msg.payload && typeof msg.payload === 'object') {\n    // Handle the case where msg.payload is a JSON object\n    console.log(\"msg.payload (JSON):\", msg.payload);\n\n    // Ensure the properties exist in msg.payload\n    let msg1 = { payload: msg.payload.TempSHT || 'N/A' };\n    let msg2 = { payload: msg.payload.TempBMP || 'N/A' };\n    let msg3 = { payload: msg.payload.Humidity || 'N/A' };\n    let msg4 = { payload: msg.payload.Altitude || 'N/A' };\n    let msg5 = { payload: msg.payload.Pressure || 'N/A' };\n\n    return [msg1, msg2, msg3, msg4, msg5];\n} else {\n    // Handle case where msg.payload is not in the expected format\n    //let msg1 = { payload: msg.payload }\n    //return [msg1, msg1, msg1, msg1, msg1];\n}",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 220,
        "wires": [
            [
                "5063b8b39cb3f8c7"
            ],
            [
                "2ca34b9a80cde87b"
            ],
            [
                "536a57d541592eaf"
            ],
            [],
            [
                "fdc29c530ab9cab9"
            ]
        ]
    },
    {
        "id": "5063b8b39cb3f8c7",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "twin_tempSHT",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1560,
        "y": 180,
        "wires": []
    },
    {
        "id": "2ca34b9a80cde87b",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "twin_tempBMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1560,
        "y": 220,
        "wires": []
    },
    {
        "id": "536a57d541592eaf",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "twin_Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1560,
        "y": 260,
        "wires": []
    },
    {
        "id": "fdc29c530ab9cab9",
        "type": "ui_gauge",
        "z": "49317004d5317078",
        "name": "",
        "group": "52560e4898df94f5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "twin_Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1560,
        "y": 300,
        "wires": []
    },
    {
        "id": "c9e1b0751bd8d168",
        "type": "mqtt in",
        "z": "49317004d5317078",
        "name": "sys_control_mqtt_in",
        "topic": "_1451DT/sys/actuator/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bdea7a73f727af35",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 560,
        "wires": [
            [
                "fb6924eed99f2606"
            ]
        ]
    },
    {
        "id": "fb6924eed99f2606",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "sys_control_xml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "43dfa5cb06dc76b4",
                "285b193e84c369a2"
            ]
        ]
    },
    {
        "id": "285b193e84c369a2",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "sys_control_jsonxml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 380,
        "y": 620,
        "wires": [
            [
                "43dfa5cb06dc76b4"
            ]
        ]
    },
    {
        "id": "43dfa5cb06dc76b4",
        "type": "function",
        "z": "49317004d5317078",
        "name": "Output",
        "func": "if (msg.payload && msg.payload.TEDS){\n    let msg1 = {\n        payload: msg.payload.TEDS.DEBUG[0].Heater,\n    };\n    return msg1\n}\nelse if (msg.payload && msg.payload.root){\n    let msg1 = {\n        payload: msg.payload.root.Heater\n    };\n    return msg1;\n}\nelse if (msg.payload && typeof msg.payload === 'object') {\n    // Handle the case where msg.payload is a JSON object\n    console.log(\"msg.payload (JSON):\", msg.payload);\n\n    // Ensure the properties exist in msg.payload\n    let msg1 = { payload: msg.payload.Heater || 'N/A' };\n    return msg1;\n} else {\n    // Handle case where msg.payload is not in the expected format\n    //let msg1 = { payload: msg.payload }\n    //return [msg1, msg1, msg1, msg1, msg1];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 560,
        "wires": [
            [
                "411714595a058981"
            ]
        ]
    },
    {
        "id": "411714595a058981",
        "type": "ui_text",
        "z": "49317004d5317078",
        "group": "52560e4898df94f5",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sys_control",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 560,
        "wires": []
    },
    {
        "id": "a426584d8031c91d",
        "type": "mqtt in",
        "z": "49317004d5317078",
        "name": "sys_control_mqtt_in",
        "topic": "_1451DT/twin/actuator/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bdea7a73f727af35",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 560,
        "wires": [
            [
                "cf784972b786b3ba"
            ]
        ]
    },
    {
        "id": "cf784972b786b3ba",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "twin_control_xml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1230,
        "y": 560,
        "wires": [
            [
                "358ff4f7778372f7",
                "f75766e9a8ab075c"
            ]
        ]
    },
    {
        "id": "f75766e9a8ab075c",
        "type": "xml",
        "z": "49317004d5317078",
        "name": "twin_control_jsonxml_parse",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1240,
        "y": 620,
        "wires": [
            [
                "358ff4f7778372f7"
            ]
        ]
    },
    {
        "id": "358ff4f7778372f7",
        "type": "function",
        "z": "49317004d5317078",
        "name": "Output",
        "func": "if (msg.payload && msg.payload.TEDS){\n    let msg1 = {\n        payload: msg.payload.TEDS.DEBUG[0].Heater,\n    };\n    return msg1\n}\nelse if (msg.payload && msg.payload.root){\n    let msg1 = {\n        payload: msg.payload.root.Heater\n    };\n    return msg1;\n}\nelse if (msg.payload && typeof msg.payload === 'object') {\n    // Handle the case where msg.payload is a JSON object\n    console.log(\"msg.payload (JSON):\", msg.payload);\n\n    // Ensure the properties exist in msg.payload\n    let msg1 = { payload: msg.payload.Heater || 'N/A' };\n    return msg1;\n} else {\n    // Handle case where msg.payload is not in the expected format\n    //let msg1 = { payload: msg.payload }\n    //return [msg1, msg1, msg1, msg1, msg1];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 560,
        "wires": [
            [
                "0b1b22b59b418a3c"
            ]
        ]
    },
    {
        "id": "0b1b22b59b418a3c",
        "type": "ui_text",
        "z": "49317004d5317078",
        "group": "52560e4898df94f5",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "twin_control",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1590,
        "y": 560,
        "wires": []
    },
    {
        "id": "c3f7b359cc1d6a04",
        "type": "ui_numeric",
        "z": "49317004d5317078",
        "name": "",
        "label": "target_temp",
        "tooltip": "",
        "group": "52560e4898df94f5",
        "order": 14,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "20",
        "max": "26",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "8b323dd9ca2eda69"
            ]
        ]
    },
    {
        "id": "8b323dd9ca2eda69",
        "type": "mqtt out",
        "z": "49317004d5317078",
        "name": "",
        "topic": "_1451DT/twin/control/input",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bdea7a73f727af35",
        "x": 420,
        "y": 720,
        "wires": []
    }
]